*~
\#*
aclocal.m4
autom4te.cache/
bin
_build
ChangeLog
*.cmi
*.cmo
*.cmx
*.cma
config.log
config.status
configure
junk
_log
lr.ml
lr.mlpeg
Makefile
Makefile.in
*.native
*.o
out.ml
peglexer.ml
pegparser.ml
test
test.ml
test.mlpeg
mlpeg
*.tar*
